        <section ng-controller="campaignController as cCtrl">
            <form class="form-inline" ng-submit="cCtrl.submitCampaign()">
                <div class="form-group">
                    <fieldset class="input-group">
                        <!-- name="name" ==> req.body.name -->
                        <input ng-model="pcCtrl.newCampaign.name" class="form-control" type="text" name="name" placeholder="Name">
                    </fieldset>
                    <fieldset class="input-group">
                        <!-- <div class="input-group-addon">$</div> -->
                        <input ng-model="pcCtrl.newCampaign.system" class="form-control" type="text" name="system" placeholder="System"/>
                    </fieldset>
                    <fieldset class="input-group">
                        <!-- <div class="input-group-addon">kCal</div> -->
                        <input ng-model="pcCtrl.newCampaign.setting" class="form-control" type="text" name="setting" placeholder="Setting"/>
                    </fieldset>
                    <fieldset class="input-group">
                        <!-- <div class="input-group-addon">IBUs</div> -->
                        <input ng-model="pcCtrl.newCampaign.schedule" class="form-control" type="number" name="schedule" placeholder="Schedule"/>
                    </fieldset>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </section>